<div class="form" id="form-edit-inver">
    <div class="columna">
        <form action="/inver/edit/{{inver.id}}?_method=PUT" method="POST" enctype="multipart/form-data" id="inver-form"
            class="form-forms">
            <input type="hidden" name="_method" value="PUT">

            <h1 id="titulo1-h1">Actualizar inversionista</h1>
            <div class="contenedor-form">
                <div class="columna-1">
                    <div class="form-div">
                        <p>Razón Social: </p>
                        <input type="text" name="razon_social" value="{{inver.razon_social}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Nit: </p>
                        <input type="text" name="nit" value="{{inver.nit}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Nombre: </p>
                        <input type="text" name="nombre" value="{{inver.nombre}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Apellido: </p>
                        <input type="text" name="apellido" value="{{inver.apellido}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Teléfono fijo: </p>
                        <input type="text" name="telefono" value="{{inver.telefono}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Celular: </p>
                        <input type="text" name="celular" value="{{inver.celular}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Correo: </p>
                        <input type="email" name="correo" value="{{inver.correo}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Cédula: </p>
                        <input type="text" name="cedula" value="{{inver.cedula}}" class="input-form">
                    </div>
                </div>
                <div class="columna-1">
                    <div class="form-div">
                        <p>Dirección: </p>
                        <input type="text" name="direccion" value="{{inver.direccion}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Nacimiento: </p>
                        <input type="date" name="nacimiento" value="{{inver.nacimiento}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Estado civil: </p>
                        <input type="text" name="estado_civil" value="{{inver.estado_civil}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Número de hijos: </p>
                        <input type="text" name="n_hijos" value="{{inver.n_hijos}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Número de mascotas: </p>
                        <input type="text" name="n_mascotas" value="{{inver.n_mascotas}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Hobby: </p>
                        <input type="text" name="hobby" value="{{inver.hobby}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Profesión: </p>
                        <input type="text" name="profesion" value="{{inver.profesion}}" class="input-form">
                    </div>
                    <div class="form-div">
                        <p>Empresa: </p>
                        <input type="text" name="empresa" value="{{inver.empresa}}" class="input-form">
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" name='image' class="upload-image" id="image">
                    </div>
                </div>
            </div>
            <button class="boton" type="submit">
                Guardar inversionita
            </button>
        </form>
    </div>
</div>