<div>
    <h1>{{proyecto.nombre}}</h1>
    <section id="info-ppal" class="info-ppal">
        <img id="img" src="{{proyecto.imagePath}}" alt="Foto Proyecto">
        <ul>
            <li>
                <p> Tipo de inmueble: {{proyecto.tipo}}</p>
            </li>
            <li>
                <p> Direcci칩n: {{proyecto.direccion}}</p>
            </li>
            <li>
                <p> Precios desde: {{proyecto.rango}}</p>
            </li>
        </ul>
        {{#if user.modificar}}
        <div class="botones">
            <form action="/edit-proy/{{proyecto._id}}?_method=GET" method="GET">
                <input type="hidden" name="_method" value="GET">
                <button class="boton" type="submit">Modificar</button>
            </form>
            <form action="/tipos" class="panel">
                <input type="hidden" value="{{proyecto._id}}" name="id">
                <button class="boton" type="submit">A침adir tipo de {{proyecto.tipo}}</button>
            </form>
            <form action="/proy/delete/{{proyecto._id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger delete" type="submit">Eliminar</button>
            </form>
        </div>
        {{/if}}
    </section>

    <section id="info-secun" class="info-secun">
        <ul>
            <li>
                <p> Municipio: {{proyecto.municipio}}</p>
            </li>
            <li>
                <p> Departamento: {{proyecto.departamento}}</p>
            </li>
            <li>
                <p> Estrato: {{proyecto.estrato}}</p>
            </li>
        </ul>
        <p class="text-area"> Descripci칩n: {{proyecto.descripcion}}</p>


    </section>
    <section id="sec-inversiones" class="sec-inversiones">
        <h1> Tipos de {{proyecto.tipo}}</h1>
        <div class="inversiones">
            <ul>
                {{#each proyecto.tipos}}
                {{!-- {{#if_eq modelo 1}} --}}
                {{!-- <h2>Modelo 1</h2> --}}
                <li>
                    <p class='up2'> Tipo: {{nombre}}</p>
                    <p> valor: {{valor}}</p>
                    <p> Tama침o: {{metraje}} {{unidades}}</p>
                </li>
                {{!-- {{/if_eq}} --}}
                {{/each}}
            </ul>
        </div>
    </section>
</div>