<div>
    <h1>{{proyecto.nombre}}</h1>
    <section id="info-ppal" class="info-ppal">
        <img id="img" src="{{proyecto.imagePath}}" alt="Foto Proyecto">
        <ul>
            <li>
                <p> <span class="highlight">Tipo de inmueble: </span>{{proyecto.tipo}}</p>
            </li>
            <li>
                <p> <span class="highlight">Direcci칩n: </span>{{proyecto.direccion}}</p>
            </li>
            <li>
                <p> <span class="highlight">Precios desde:
                    </span>{{formatNumber proyecto.rango style="currency" currency="COP"}}</p>
            </li>
        </ul>
        {{#if user.modificar}}
        <div class="botones">
            <form action="/edit-proy/{{proyecto._id}}?_method=GET" method="GET">
                <input type="hidden" name="_method" value="GET">
                <button class="boton" type="submit">Modificar</button>
            </form>
            <form action="/tipos" class="panel">
                <input type="hidden" value="{{proyecto._id}}" name="id">
                <button class="boton" type="submit">A침adir tipo de {{proyecto.tipo}}</button>
            </form>
            <form action="/proy/delete/{{proyecto._id}}?_method=DELETE" method="POST" name="form-delete">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger delete" type="submit">Eliminar</button>
            </form>
        </div>
        {{/if}}
    </section>

    <section id="info-secun" class="info-secun">
        <ul>
            <li>
                <p> <span class="highlight">Municipio: </span>{{proyecto.municipio}}</p>
            </li>
            <li>
                <p> <span class="highlight">Departamento: </span>{{proyecto.departamento}}</p>
            </li>
            <li>
                <p> <span class="highlight">Estrato: </span>{{proyecto.estrato}}</p>
            </li>
        </ul>
        <ul>
            <p class="text-area"> <span class="highlight">Descripci칩n: </span>{{proyecto.descripcion}}</p>
        </ul>


    </section>
    {{#if proyecto.tipos}}
    <section id="sec-inversiones" class="sec-inversiones">
        <h1> Tipos de {{proyecto.tipo}}</h1>
        <div class="inversiones">
            <ul>
                {{#each proyecto.tipos}}
                <li>
                    <div>
                        <p> <span class="highlight">Tipo: </span>{{nombre}}</p>
                        <p> <span class="highlight">Valor: </span>{{valor}}</p>
                        <p> <span class="highlight">Tama침o: </span>{{metraje}} {{unidades}}</p>
                    </div>
                    <button class="eliminar-tipoApto">Eliminar</button>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    {{/if}}
</div>