<section id="info-ppal" class="info-ppal">
        <img id="img" src="{{proyecto.imagePath}}"  alt="Foto Proyecto">
        <ul>
            <li>
                <p> Nombre del proyecto: {{proyecto.nombre}}</p>
            </li>
            <li>
                <p> Tipo de inmueble: {{proyecto.tipo}}</p>
            </li>
            <li>
                <p> Dirección: {{proyecto.direccion}}</p>
            </li>
        </ul>
        <div class="botones">
            <form action="/edit-proy/{{proyecto._id}}?_method=GET" method="GET">
            <input type="hidden" name="_method" value="GET">
            <button class="up" type="submit">Modificar</button>
        </div>
    </section>

    <section  id="info-secun" class="info-secun">
        <ul>
            <li>
                <p> Precios desde: {{proyecto.rango}}</p>
            </li>
            <li>
                <p> Municipio: {{proyecto.municipio}}</p>
            </li>
            <li>
                <p> Departamento: {{proyecto.departamento}}</p>
            </li>
            
            <li>
                <p> Estrato: {{proyecto.estrato}}</p>
            </li>
        </ul>
    
    </section>
