<section id="info-ppal" class="info-ppal">
        <img id="img" src="{{proyecto.imagePath}}"  alt="Foto Proyecto">
        <ul>
            <li>
                <p>{{proyecto.nombre}}</p>
            </li>
            <li>
                <p>{{proyecto.tipo}}</p>
            </li>
            <li>
                <p>{{proyecto.direccion}}</p>
            </li>
        </ul>
        <div class="botones">
            <form action="/edit-proy/{{proyecto._id}}?_method=GET" method="GET">
            <input type="hidden" name="_method" value="GET">
            <button class="up" type="submit">Modificar</button>
        </div>
    </section>

    <section  id="info-secun" class="info-secun">
        <ul>
            <li>
                <p>{{proyecto.rango}}</p>
            </li>
            <li>
                <p>{{proyecto.municipio}}</p>
            </li>
            <li>
                <p>{{proyecto.departamento}}</p>
            </li>
        </ul>
    
    </section>
