<h1>Datos inversionista</h1>
<section id="info-ppal" class="info-ppal">
    <img id="img" src="{{inversionista.imagePath}}" alt="Foto Inversionista">
    <ul>
        {{#if inversionista.razon_social}}
        <li>
            <p> <span class="highlight">Razón social: </span>{{inversionista.razon_social}}</p>
        </li>
        <li>
            <p> <span class="highlight">Nit: </span>{{addPointsNit inversionista.nit}}</p>
        </li>
        <li>
            <p> <span class="highlight">Representante legal: </span>{{inversionista.nombre}} {{inversionista.apellido}}
            </p>
        </li>
        <li>
            <p> <span class="highlight">Cédula: </span>{{addPoints inversionista.cedula}}</p>
        </li>
        <li>
            <p> <span class="highlight">Celular: </span>{{phoneNumber inversionista.celular}}</p>
        </li>
        <li>
            <p> <span class="highlight">Correo: </span>{{inversionista.correo}}</p>
        </li>
        {{else}}
        <li>
            <p> <span class="highlight">Nombre: </span> {{inversionista.nombre}} {{inversionista.apellido}}</p>
        </li>
        <li>
            <p> <span class="highlight">Cédula: </span>{{addPoints inversionista.cedula}}</p>
        </li>
        <li>
            <p> <span class="highlight">Celular: </span>{{phoneNumber inversionista.celular}}</p>
        </li>
        <li>
            <p> <span class="highlight">Correo: </span> {{inversionista.correo}}</p>
        </li>
        {{/if}}
    </ul>
</section>

<section class="info-inversion">
    {{#if icompra}}
    <h2>Inversión Compra de inmueble</h2>
    <section class="info-ppal">
        <div class="info-inversion-div">
            <ul>
                <li>
                    <p> <span class="highlight">Proyecto: </span> <a href="/ficha-p/{{icompra.proyecto.id}}" type="submit"> {{icompra.proyecto.nombre}}</a></p>
                </li>
                <li>
                    <p><span class="highlight">Fecha de inicio: </span>{{icompra.fecha_inicio}}</p>
                </li>
                <li>
                    <p> <span class="highlight">Fecha de cierre: </span>{{icompra.fecha_cierre}}</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p> <span class="highlight">Valor de compra:
                        </span>{{formatNumber icompra.valor_compra style="currency" currency="COP"}}</p>
                </li>
                <li>
                    <p> <span class="highlight">Fecha de entrega: </span>{{icompra.fecha_entrega}}</p>
                </li>
                <li>
                    <p> <span class="highlight">TIR prometida: </span>{{icompra.tir_prometida}} %</p>
                </li>
            </ul>
        </div>
        <div class="inmueble-coinver">
            <div class="lista-inmuebles">
                <button class="btn-inversion">Ver inmuebles</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each icompra.inmuebles}}
                        <li>
                            <p> Torre: {{torre}}</p>
                            <p> Apartamento: {{apartamento}}</p>
                            <p> Parqueadero: {{parqueadero}}</p>
                            <p> Cuarto útil: {{cuarto_util}}</p>
                            <p> Encargo fiduciario: {{encargo_fiduciario}}</p>
                            <p> Valor: {{formatNumber valor style="currency" currency="COP"}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="lista-co-inver">
                <button class="btn-inversion">Ver co-inversionistas</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each icompra.co_inversionista}}
                        <li>
                            <p>{{nombre}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{#if user.modificar}}
            <div class="botones-inversion">
                <a class="btn-inversion" href="/edit-inversion/{{icompra._id}}/compra" class="boton" type="submit">
                    Modificar inversión
                </a>
                <a class="btn-inversion" href="/asociar-inmueble/{{icompra._id}}/compra" class="boton" type="submit">
                    Asociar inmueble
                </a>
                <a class="btn-inversion" href="/asociar-inversionista/{{icompra._id}}/compra" class="boton"
                    type="submit">
                    Asociar co-inversionista
                </a>
                <form action="/eliminar-inversion/{{icompra._id}}/compra?_method=DELETE" method="POST"
                    name="form-delete">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger delete" type="submit">Eliminar inversión</button>
                </form>
            </div>
            {{/if}}
        </div>
    </section>
    {{/if}}



    {{#if igarantia}}
    <h2>Inversión Garantía de inmbueble</h2>
    <section class="info-ppal">
        <div class="info-inversion-div">
            <ul>
                <li>
                    <p> <span class="highlight">Proyecto: </span> <a href="/ficha-p/{{igarantia.proyecto.id}}" type="submit"> {{igarantia.proyecto.nombre}}</a></p>
                </li>
                <li>
                    <p> <span class="highlight">Fecha de inicio: </span>{{igarantia.fecha_inicio}}</p>
                </li>
                <li>
                    <p> <span class="highlight">Duración de la inversión: </span>{{igarantia.duracion}} meses</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p> <span class="highlight">Valor de la inversión:
                        </span>{{formatNumber igarantia.valor_inversion style="currency" currency="COP"}}
                    </p>
                </li>
                <li>
                    <p> <span class="highlight">Período de liquidación: cada </span>{{igarantia.periodo_liquidacion}}
                        meses </p>
                </li>
                <li>
                    <p> <span class="highlight">Tasa de intereses mensual: </span>{{igarantia.tasa_int_men}} %</p>
                </li>
            </ul>
        </div>
        <div class="inmueble-coinver">
            <div class="lista-co-inver">
                <button class="btn-inversion">Ver co-inversionistas</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each igarantia.co_inversionista}}
                        <li>
                            <p>{{nombre}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{#if user.modificar}}
            <div class="botones-inversion">
                <a class="btn-inversion" href="/edit-inversion/{{igarantia._id}}/garantia" class="boton" type="submit">
                    Modificar inversión
                </a>
                <a class="btn-inversion" href="/asociar-inversionista/{{igarantia._id}}/garantia" class="boton"
                    type="submit">
                    Asociar co-inversionista
                </a>
                <form action="/eliminar-inversion/{{igarantia._id}}/garantia?_method=DELETE" method="POST"
                    name="form-delete">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger delete" type="submit">Eliminar inversión</button>
                </form>
            </div>
            {{/if}}
        </div>
    </section>

    {{/if}}



    {{#if iasociativo}}
    <h2>Inversión Asociativo</h2>
    <section class="info-ppal">
        <div class="info-inversion-div">
            <ul>
                <li>
                    <p> <span class="highlight">Proyecto: </span> <a href="/ficha-p/{{iasociativo.proyecto.id}}" type="submit"> {{iasociativo.proyecto.nombre}}</a></p>
                </li>
                <li>
                    <p> <span class="highlight">Fecha de inicio: </span>{{iasociativo.fecha_inicio}}</p>
                </li>
                <li>
                    <p> <span class="highlight">Fecha de cierre: </span>{{iasociativo.fecha_cierre}}</p>
                </li>

                <li>
                    <p> <span class="highlight">Número de acciones: </span>{{iasociativo.n_acciones}}</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p> <span class="highlight">Valor de compra:
                        </span>{{formatNumber iasociativo.valor_compra style="currency" currency="COP"}}</p>
                </li>

                <li>
                    <p> <span class="highlight">Fecha de entrega
                            prometida:</span>{{iasociativo.fecha_entrega_prometida}}</p>
                </li>
                <li>
                    <p><span class="highlight">TIR prometida: </span>{{iasociativo.tir_prometida}} %</p>
                </li>
            </ul>
        </div>
        <div class="inmueble-coinver">
            <div class="lista-inmuebles">
                <button class="btn-inversion">Ver inmuebles</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each iasociativo.inmuebles}}
                        <li>
                            <p> Torre: {{torre}}</p>
                            <p> Apartamento: {{apartamento}}</p>
                            <p> Parqueadero: {{parqueadero}}</p>
                            <p> Cuarto útil: {{cuarto_util}}</p>
                            <p> Valor: {{formatNumber valor style="currency" currency="COP"}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="lista-co-inver">
                <button class="btn-inversion">Ver co-inversionistas</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each iasociativo.co_inversionista}}
                        <li>
                            <p>{{nombre}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{#if user.modificar}}
            <div class="botones-inversion">
                <a class="btn-inversion" href="/edit-inversion/{{iasociativo._id}}/asociativo" class="boton"
                    type="submit">
                    Modificar inversión
                </a>
                <a class="btn-inversion" href="/asociar-inmueble/{{iasociativo._id}}/asociativo" class="boton"
                    type="submit">
                    Asociar inmueble
                </a>
                <a class="btn-inversion" href="/asociar-inversionista/{{iasociativo._id}}/asociativo" class="boton"
                    type="submit">
                    Asociar co-inversionista
                </a>
                <form action="/eliminar-inversion/{{iasociativo._id}}/asociativo?_method=DELETE" method="POST"
                    name="form-delete">
                    <button class="btn btn-danger delete" type="submit">Eliminar inversión</button>
                </form>
            </div>
            {{/if}}
        </div>
    </section>
    {{/if}}



    {{#if ifnf}}
    <h2>Inversión FNF</h2>
    <section class="info-ppal">
        <div class="info-inversion-div">
            <ul>
                <li>
                    <p> <span class="highlight">Proyecto: </span> <a href="/ficha-p/{{ifnf.proyecto.id}}" type="submit"> {{ifnf.proyecto.nombre}}</a></p>
                </li>
                <li>
                    <p> <span class="highlight">Fecha de inicio: </span>{{ifnf.fecha_inicio}}</p>
                </li>

                <li>
                    <p> <span class="highlight">Fecha de legalización del mutuo: </span>{{ifnf.lega_mutuo_fidu}}</p>
                </li>

                <li>
                    <p> <span class="highlight">Valor del mutuo:
                        </span>{{formatNumber ifnf.valor_mutuo style="currency" currency="COP"}}</p>
                </li>

                <li>
                    <p> <span class="highlight">Tasa de interés: </span> {{ifnf.tasa_interes}} %</p>
                </li>
            </ul>
            <ul>
                <li>
                    <p> <span class="highlight">Porcentaje cliente: </span>{{ifnf.porcentaje_cliente}} %</p>
                </li>
                <li>
                    <p> <span class="highlight">Porcentaje garantía: </span>{{ifnf.porcentaje_garantia}} %</p>
                </li>
                <li>
                    <p> <span class="highlight">Obervaciones: </span>{{ifnf.observaciones}}</p>
                </li>
            </ul>
        </div>
        <div class="inmueble-coinver">
            <div class="lista-inmuebles">
                <button class="btn-inversion">Ver inmuebles</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each ifnf.inmuebles}}
                        <li>
                            <p> Torre: {{torre}}</p>
                            <p> Apartamento: {{apartamento}}</p>
                            <p> Parqueadero: {{parqueadero}}</p>
                            <p> Cuarto útil: {{cuarto_util}}</p>
                            <p> Valor: {{formatNumber valor style="currency" currency="COP"}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>

            </div>
            <div class="lista-co-inver">
                <button class="btn-inversion">Ver co-inversionistas</button>
                <div id="modal-div" class="modal-div">
                    <ul class="modal">
                        {{#each ifnf.co_inversionista}}
                        <li>
                            <p> {{nombre}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{#if user.modificar}}
            <div class="botones-inversion">
                <a class="btn-inversion" href="/edit-inversion/{{ifnf._id}}/fnf" type="submit">
                    Modificar inversión
                </a>
                <a class="btn-inversion" href="/asociar-inmueble/{{ifnf._id}}/fnf" type="submit">
                    Asociar inmueble
                </a>
                <a class="btn-inversion" href="/asociar-inversionista/{{ifnf._id}}/fnf" type="submit">
                    Asociar co-inversionista
                </a>
                <form action="/eliminar-inversion/{{ifnf._id}}/fnf?_method=DELETE" method="POST" name="form-delete">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger delete" type="submit">Eliminar inversión</button>
                </form>
            </div>
            {{/if}}
        </div>

        <div class="alerta-cumplimiento">
            <div class="info-cumplimiento">
                <p> <span class="highlight">Valor mutuo: </span>
                    {{formatNumber ifnf.valor_mutuo style="currency" currency="COP"}}</p>
                <p> <span class="highlight">Valor apartamento actual:
                    </span>{{formatNumber proyecto.rango style="currency" currency="COP"}}</p>
                {{#if ifnf.inmuebles.0.valor}}
                <p> <span class="highlight">Valor apartamento compra:
                    </span>{{formatNumber ifnf.inmuebles.0.valor style="currency" currency="COP"}}</p>
                <p> <span class="highlight">Meta: </span>{{formatNumber meta style="currency" currency="COP"}}</p>
            </div>
            <p> Cumplimiento de la meta: <span id="porcentaje-cumplimiento"></span> {{porcentajeCumplimiento}}</span> %
            </p>
            <div class="indicador">
                <p>0%</p>
                <meter class="barra" min="0" max="100" low="50" high="80" value={{porcentajeCumplimiento}}> </meter>
                <p>100%</p>
            </div>
            {{else}}
            <div class="alerta-inmueble">
                <p> Esta inversión NO tiene un inmueble asociado aún.</p>
            </div>
            {{/if}}
        </div>

    </section>

    {{/if}}
</section>

{{!-- ------------------------------------------------------------------------------------------------------ --}}

<section class="pagos">
    {{#if ifnf}}
    <h2>Plan de pago de intereses</h2>
    <ul>
        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Cuota cliente </strong> </p>
            <p> <strong> Cuota garantía </strong> </p>
        </li>
        {{#each ifnf.plan_pago_intereses}}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta_cliente style="currency" currency="COP"}}</p>
            <p> {{formatNumber couta_garantia style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{ifnf._id}}/fnf" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}

    {{#if igarantia}}
    <h2>Plan de pago de intereses</h2>
    <ul>

        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Valor de la cuota </strong> </p>
        </li>
        {{#each igarantia.plan_pago_intereses}}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{igarantia._id}}/garantia" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}

    {{#if iasociativo}}
    <h2>Plan de pagos</h2>
    <ul>

        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Valor de la cuota </strong> </p>
        </li>
        {{#each iasociativo.plan_pagos}}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{iasociativo._id}}/asociativo" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}

    {{#if icompra }}
    <h2>Plan de pagos</h2>
    <ul>

        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Valor de la cuota </strong> </p>
        </li>
        {{#each icompra.plan_pagos }}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{icompra._id}}/compra" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}
</section>