<h1>Datos inversionista</h1>
<section id="info-ppal" class="info-ppal">
    <img id="img" src="{{inversionista.imagePath}}" alt="Foto Inversionista">
    <ul>
        {{#if inversionista.razon_social}}
        <li>
            <p> Razón social: {{inversionista.razon_social}}</p>
        </li>
        <li>
            <p> Nit: {{addPointsNit inversionista.nit}}</p>
        </li>
        <li>
            <p> Representante Legal: {{inversionista.nombre}} {{inversionista.apellido}}</p>
        </li>
        <li>
            <p> Cédula: {{addPoints inversionista.cedula}}</p>
        </li>
        <li>
            <p> Celular: {{phoneNumber inversionista.celular}}</p>
        </li>
        <li>
            <p> Correo: {{inversionista.correo}}</p>
        </li>
        {{else}}
        <li>
            <p> Nombre: {{inversionista.nombre}} {{inversionista.apellido}}</p>
        </li>
        <li>
            <p> Cédula: {{addPoints inversionista.cedula}}</p>
        </li>
        <li>
            <p> Celular: {{phoneNumber inversionista.celular}}</p>
        </li>
        <li>
            <p> Correo: {{inversionista.correo}}</p>
        </li>
        {{/if}}
    </ul>
</section>

<section class="info-inversion">
    {{#if icompra}}
    <h2>Inversión compra de inmueble</h2>
    <section class="info-ppal">
        <ul>
            <li>
                <p>Proyecto: {{icompra.proyecto.nombre}}</p>
            </li>
            <li>
                <p>Fecha de inicio: {{icompra.fecha_inicio}}</p>
            </li>
            <li>
                <p>Fecha de cierre: {{icompra.fecha_cierre}}</p>
            </li>
            <li>
                <p>Valor de compra: {{formatNumber icompra.valor_compra style="currency" currency="COP"}}</p>
            </li>
            <li>
                <p>Fecha de entrega: {{icompra.fecha_entrega}}</p>
            </li>
            <li>
                <p>TIR prometida: {{icompra.tir_prometida}} %</p>
            </li>
        </ul>
        <div class="lista-inmuebles">
            <p>Inmuebles:</p>
            <ul>

                {{#each icompra.inmuebles}}
                <li>
                    <p> Torre: {{torre}}</p>
                    <p> Apartamento: {{apartamento}}</p>
                    <p> Parqueadero: {{parqueadero}}</p>
                    <p> Cuarto útil: {{cuarto_util}}</p>
                    <p> Encargo fiduciario: {{encargo_fiduciario}}</p>
                    <p> Valor: {{formatNumber valor style="currency" currency="COP"}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="lista-co-inver">
            <p>Co-inversionista:</p>
            <ul>
                {{#each icompra.co_inversionista}}
                <li>
                    <p>{{nombre}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        {{#if user.modificar}}
        <div class="botones">
            <a href="/edit-inversion/{{icompra._id}}/compra" class="boton" type="submit">
                Modificar inversión
            </a>
            <a href="/asociar-inmueble/{{icompra._id}}/compra" class="boton" type="submit">
                Asociar inmueble
            </a>
            <a href="/asociar-inversionista/{{icompra._id}}/compra" class="boton" type="submit">
                Asociar Co-inversionista
            </a>
            <form action="/eliminar-inversion/{{icompra._id}}/compra?_method=DELETE" method="POST" name="form-delete">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger delete" type="submit">Eliminar Inversión</button>
            </form>
        </div>
        {{/if}}
    </section>
    {{/if}}



    {{#if igarantia}}
    <h2>Inversión garantía de inmbuele</h2>
    <section class="info-ppal">
        <ul>
            <li>
                <p>Proyecto: {{igarantia.proyecto.nombre}}</p>
            </li>
            <li>
                <p>Fecha de inicio: {{igarantia.fecha_inicio}}</p>
            </li>
            {{!-- <li>
            <p> Fecha de cierre: {{igarantia.fecha_cierre}}</p>
        </li> --}}

            <li>
                <p>Duración de la inversión: {{igarantia.duracion}} meses</p>
            </li>

            <li>
                <p>Valor de inversion: {{formatNumber igarantia.valor_inversion style="currency" currency="COP"}}</p>
            </li>
            <li>
                <p>Periodo de liquidación: Cada {{igarantia.periodo_liquidacion}} meses </p>
            </li>
            <li>
                <p>Tasa de intereses mensual: {{igarantia.tasa_int_men}} %</p>
            </li>
        </ul>


        <div class="lista-co-inver">
            <p>Co-inversionista:</p>
            <ul>
                {{#each igarantia.co_inversionista}}
                <li>
                    <p>{{nombre}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        {{#if user.modificar}}
        <div class="botones">
            <a href="/edit-inversion/{{igarantia._id}}/garantia" class="boton" type="submit">
                Modificar inversión
            </a>
            <a href="/asociar-inversionista/{{igarantia._id}}/garantia" class="boton" type="submit">
                Asociar Co-inversionista
            </a>
            <form action="/eliminar-inversion/{{igarantia._id}}/garantia?_method=DELETE" method="POST"
                name="form-delete">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger delete" type="submit">Eliminar Inversión</button>
            </form>
        </div>
        {{/if}}
    </section>

    {{/if}}



    {{#if iasociativo}}
    <h2>Inversión asociativo</h2>
    <section class="info-ppal">
        <ul>
            <li>
                <p> Proyecto: {{iasociativo.proyecto.nombre}}</p>
            </li>
            <li>
                <p> Fecha de inicio: {{iasociativo.fecha_inicio}}</p>
            </li>
            <li>
                <p> Fecha de cierre: {{iasociativo.fecha_cierre}}</p>
            </li>

            <li>
                <p> Número de acciones: {{iasociativo.n_acciones}}</p>
            </li>
            <li>
                <p> Valor de compra: {{formatNumber iasociativo.valor_compra style="currency" currency="COP"}}</p>
            </li>

            <li>
                <p> Fecha entrega prometida: {{iasociativo.fecha_entrega_prometida}}</p>
            </li>
            <li>
                <p>TIR prometida: {{iasociativo.tir_prometida}} %</p>
            </li>
        </ul>
        <div class="lista-inmuebles">
            <p>Inmuebles:</p>
            <button class="boton" id="boton-modal">Ver inmuebles</button>

            <div id="modal" class="modal">
                <ul >
                    {{#each iasociativo.inmuebles}}
                    <li>
                        <p> Torre: {{torre}}</p>
                        <p> Apartamento: {{apartamento}}</p>
                        <p> Parqueadero: {{parqueadero}}</p>
                        <p> Cuarto útil: {{cuarto_util}}</p>
                        <p> Valor: {{formatNumber valor style="currency" currency="COP"}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>

        </div>
        <div class="lista-co-inver">
            <p>Co-inversionista:</p>
            <ul>
                {{#each iasociativo.co_inversionista}}
                <li>
                    <p>{{nombre}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        {{#if user.modificar}}
        <div class="botones">
            <a href="/edit-inversion/{{iasociativo._id}}/asociativo" class="boton" type="submit">
                Modificar inversión
            </a>
            <a href="/asociar-inmueble/{{iasociativo._id}}/asociativo" class="boton" type="submit">
                Asociar inmueble
            </a>
            <a href="/asociar-inversionista/{{iasociativo._id}}/asociativo" class="boton" type="submit">
                Asociar Co-inversionista
            </a>
            <form action="/eliminar-inversion/{{iasociativo._id}}/asociativo?_method=DELETE" method="POST"
                name="form-delete">
                <button class="btn btn-danger delete" type="submit">Eliminar Inversión</button>
            </form>
        </div>
        {{/if}}
    </section>
    {{/if}}



    {{#if ifnf}}
    <h2>Inversión fnf</h2>
    <section class="info-ppal">
        <ul>
            <li>
                <p>Proyecto: {{ifnf.proyecto.nombre}}</p>
            </li>
            <li>
                <p>Fecha de inicio: {{ifnf.fecha_inicio}}</p>
            </li>
            {{!-- <li>
            <p> Fecha de cierre: {{ifnf.fecha_cierre}}</p>
        </li> --}}

            <li>
                <p>Fecha de legalización del mutuo: {{ifnf.lega_mutuo_fidu}}</p>
            </li>

            <li>
                <p>Valor del mutuo: {{formatNumber ifnf.valor_mutuo style="currency" currency="COP"}}</p>
            </li>

            <li>
                <p>Tasa de interés: {{ifnf.tasa_interes}} %</p>
            </li>
            <li>
                <p>Porcentaje cliente: {{ifnf.porcentaje_cliente}} %</p>
            </li>
            <li>
                <p>Porcentaje garantia: {{ifnf.porcentaje_garantia}} %</p>
            </li>
            <li>
                <p>Observaciones: {{ifnf.observaciones}}</p>
            </li>
        </ul>
        <div class="lista-inmuebles">
            <p>Inmuebles:</p>
            <ul>

                {{#each ifnf.inmuebles}}
                <li>
                    <p> Torre: {{torre}}</p>
                    <p> Apartamento: {{apartamento}}</p>
                    <p> Parqueadero: {{parqueadero}}</p>
                    <p> Cuarto útil: {{cuarto_util}}</p>
                    <p> Valor: {{formatNumber valor style="currency" currency="COP"}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="lista-co-inver">
            <p>Co-inversionista:</p>
            <ul>
                {{#each ifnf.co_inversionista}}
                <li>
                    <p> {{nombre}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        {{#if user.modificar}}
        <div class="botones">
            <a href="/edit-inversion/{{ifnf._id}}/fnf" class="boton" type="submit">
                Modificar inversión
            </a>
            <a href="/asociar-inmueble/{{ifnf._id}}/fnf" class="boton" type="submit">
                Asociar inmueble
            </a>
            <a href="/asociar-inversionista/{{ifnf._id}}/fnf" class="boton" type="submit">
                Asociar Co-inversionista
            </a>
            <form action="/eliminar-inversion/{{ifnf._id}}/fnf?_method=DELETE" method="POST" name="form-delete">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger delete" type="submit">Eliminar Inversión</button>
            </form>
        </div>
        {{/if}}
    </section>

    {{/if}}
</section>

{{!-- ------------------------------------------------------------------------------------------------------ --}}

<section class="pagos">
    {{#if ifnf}}
    <h2>Plan de pago de intereses</h2>
    <ul>
        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Cuota cliente </strong> </p>
            <p> <strong> Cuota garantía </strong> </p>
        </li>
        {{#each ifnf.plan_pago_intereses}}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta_cliente style="currency" currency="COP"}}</p>
            <p> {{formatNumber couta_garantia style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{ifnf._id}}/fnf" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}

    {{#if igarantia}}
    <h2>Plan de pago de intereses</h2>
    <ul>

        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Valor de la cuota </strong> </p>
        </li>
        {{#each igarantia.plan_pago_intereses}}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{igarantia._id}}/garantia" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}

    {{#if iasociativo}}
    <h2>Plan de pagos</h2>
    <ul>

        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Valor de la cuota </strong> </p>
        </li>
        {{#each iasociativo.plan_pagos}}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{iasociativo._id}}/asociativo" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}

    {{#if icompra }}
    <h2>Plan de pagos</h2>
    <ul>

        <li>
            <p> <strong> Fecha de pago</strong> </p>
            <p> <strong> Valor de la cuota </strong> </p>
        </li>
        {{#each icompra.plan_pagos }}
        <li>
            <p> {{fecha}}</p>
            <p> {{formatNumber couta style="currency" currency="COP"}}</p>
        </li>
        {{/each}}

    </ul>
    {{#if user.modificar}}
    <div class="botones">
        <a href="/edit-plan_pagos/{{icompra._id}}/compra" class="boton" type="submit">
            Modificar plan de pagos
        </a>
    </div>
    {{/if}}
    {{/if}}
</section>