<div class="banner-ppal">

   
  
    <img src="../uploads/la-reserva-banner.png" alt="Obrasde banner">
</div>
{{#if noticia}}
<section class="novedades">
    <h2>Novedades</h2>
    <div class="noticias">
        <div class="imagen-col">
            <img src="{{noticia.img1}}" alt="Imagen de noticia" class="imagen-noticia">
            {{!-- <img src="{{noticia.img2}}" alt="Imagen de noticia" class="imagen-noticia">
            <img src="{{noticia.img3}}" alt="Imagen de noticia" class="imagen-noticia"> --}}
        </div>
        <div class="texto-col">
            <div class="texto-cajon">
                <h3>
                    {{noticia.titulo}}
                </h3>
                <p>
                    {{noticia.texto}}
                </p>
            </div>
        </div>
    </div>
</section>
{{/if}}
