<h1> Fondo de inversión FNF</h1>
<div class="contenedor up" id="usuario-form">
    <form id="form2" class="form-login" action="/user/edit/{{user.id}}?_method=PUT" method="POST"
        enctype="multipart/form-data" id="user-form" class="form-forms">
        <input type="hidden" name="_method" value="PUT">
        <h2>Modificar usuario</h2>
        <div class="login">
            <input id="nombre_u" class="input-form" type="text" name="nombre" placeholder="Nombre"
                value="{{user.nombre}}" autofocus>
            <input id="apellido_u" class="input-form" type="text" name="apellido" placeholder="Apellido"
                value="{{user.apellido}}" autofocus>
            <input id="telefono_u" class="input-form" type="number" name="celular" placeholder="Celular"
                value="{{user.celular}}" autofocus>
            <input id="correo_u" class="input-form" type="email" name="correo" placeholder="Correo"
                value="{{user.correo}}" autofocus>
            <div class="hide">
                <input id="contrasena_u" class="input-form" type="password" name="contrasena" placeholder="Contraseña">
                <input id="contrasena2_u" class="input-form" type="password" name="confirm_contrasena"
                    placeholder="Repita la contraseña">
            </div>
            <button type='submit' id="crear_u" class="boton">
                Actualizar usuario
            </button>
        </div>
    </form>
</div>